<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAW FIRM</title>

    <link rel="stylesheet" href="../STYLES/header.css">
</head>

<body data-layout="public">

    <header>

        <div class="logo">ATTORNEY</div>

        <!-- Hamburger for mobile -->
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="navbar-container">

            <div class="info-icons">
                <div class="info1">
                    <p>info@hardbuchney.com</p>
                </div>
            </div>

            <div class="nav-buttons" id="navMenu">
                <div class="nav-links">
                    <a href="./index.html">Home</a>
                    <a href="../PAGES/about.html">About</a>
                    <a href="../PAGES/practice.html">Practice</a>
                    <a href="../PAGES/attorney.html">Attorneys</a>
                    <a href="../PAGES/legalCases.html">Legal Cases</a>
                    <a href="../PAGES/contact.html">Contact</a>
                </div>


                <div class="btn-holder">
                    <button id="nav-btn">Get A Quote</button>
                </div>
            </div>

        </div>

    </header>

    <script src="../JS/include.js"></script>
</body>

</html>