.footer{
  background:#2f3038;
  color:#fff;
  font-family:'Poppins', sans-serif;
  position:relative;
}

.footer-top{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:25px;
  padding:60px 8%;
}

.contact-card{
  background:#3a3b44;
  padding:30px;
  display:flex;
  gap:20px;
  align-items:flex-start;
}

.contact-card i{
  color:#c6a66a;
  font-size:24px;
  margin-top:5px;
}

.contact-card h4{
  margin:0;
  font-weight:500;
}

.contact-card p{
  margin-top:8px;
  font-size:14px;
  color:#cfcfcf;
}

.footer-main{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
  gap:50px;
  padding:70px 8%;
}

.logo-text{
  font-family:'Playfair Display', serif;
  font-size:22px;
  letter-spacing:1px;
}

.logo-text span{
  display:block;
  font-size:14px;
  color:#c6a66a;
}

.footer-col h3{
  color:#c6a66a;
  margin-bottom:25px;
  font-weight:500;
}

.footer-col p{
  color:#cfcfcf;
  font-size:14px;
  line-height:1.8;
}

.footer-col ul{
  list-style:none;
  padding:0;
}

.footer-col ul li{
  margin-bottom:12px;
  font-size:14px;
  cursor:pointer;
  display:flex;
  align-items:center;
  gap:10px;
  transition:0.3s;
}

.footer-col ul li i{
  color:#c6a66a;
  font-size:12px;
}

.footer-col ul li:hover{
  color:#c6a66a;
  transform:translateX(5px);
}

.social-icons{
  margin-top:20px;
}

.social-icons a{
  width:40px;
  height:40px;
  border:1px solid #555;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  margin-right:10px;
  color:#fff;
  transition:0.3s;
}

.social-icons a:hover{
  background:#c6a66a;
  color:#000;
  border:none;
}

.newsletter-box{
  display:flex;
  flex-wrap:wrap;
  margin-top:15px;
}

.newsletter-box input{
  flex:1;
  min-width:160px;
  padding:14px;
  border:none;
  outline:none;
}

.newsletter-box button{
  padding:14px 22px;
  border:none;
  background:#c6a66a;
  cursor:pointer;
  font-weight:500;
}

.footer-bottom{
  border-top:1px solid #444;
  padding:25px 8%;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  font-size:14px;
}

.footer-bottom span{
  color:#c6a66a;
}

.scroll-top{
  position:fixed;
  right:20px;
  bottom:20px;
  background:#c6a66a;
  border:none;
  width:45px;
  height:45px;
  cursor:pointer;
}

/* Mobile RESPONSIVENESS*/
@media(max-width:600px){
  .footer-bottom{
    flex-direction:column;
    text-align:center;
    gap:10px;
  }
}