*{
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    display: flex;
    width: 100%;
    height: 130px;
    background-color: white;
}

.logo{
    width: 480px;
    height: 130px;
    background-color: #37373f !important;
    font-size: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #B49C73;
}


.navbar-container{
width: 100%;

}

.info-icons{
    width: 100%;
    padding: 10px 0;
    border: 1px solid #75757567;

}
.info-icons p{
    padding: 0 44px;
    font-size: 1rem;
    font-weight: 400;
    color: #757575;
}
.info1{

}
.info2{

}

.nav-buttons{
    display: flex;
    width: 100%;
    height: 82px;
    padding: 0;
    align-items: center;
  justify-content: space-between;
 /* background-color: to know; */
}


.nav-links{
    
}
.nav-links a{
    padding: 0 15px;
    font-size: 17px;
    font-weight: 500;
    color: #37373F;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.nav-links a:hover{
    color: #bca275;
}
.nav-links a:active{
    color: #bca275;
}




.btn-holder{
    display: flex;
    justify-content: center; 
    width: 220px;
   
}
#nav-btn{
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 12px 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #212529;
    background-color: #B49C73;
    border: none;
    border-radius: 5px
}

#nav-btn:hover{
    color: white;
}